body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f8f9fa; /* Un fondo claro */
}

h1 {
    color: #007bff; /* Un azul brillante */
    text-align: center;
    margin-top: 20px;
}

p {
    color: #6c757d; /* Un gris oscuro */
    font-size: 18px;
    line-height: 1.6;
}

/* Añadir un estilo para un nuevo elemento, por ejemplo, un botón */
.btn-custom {
    background-color: #28a745; /* Un verde */
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    margin: 20px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-custom:hover {
    background-color: #218838; /* Un verde más oscuro */
}
